= render 'shared/top_background.html.haml', title: @product.name

.product-details.row.no-gutters.justify-content-center
  %p.description.text-tertiary.px-3.d-none.d-lg-block.col-lg-7
    = @product.description

  = image_tag @product.pictures[0].url, class: 'product-image col-12 col-lg-5'

  %h3.price.text-tertiary.text-center.col-12.col-lg-7
    = "#{t('activerecord.attributes.product.price')}: #{@product.price}"

  .row.no-gutters.justify-content-center.col-12.col-lg-5
    %button.add-to-cart.btn.btn-secondary.btn-lg.rounded.mb-3
      Añadir al carrito

= render 'shared/bottom_background.html.haml'
